# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/osx-64/ca-certificates-2020.11.8-h033912b_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libcxx-11.0.0-h4c3b8ed_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/llvm-openmp-11.0.0-h73239a0_1.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/tzdata-2020d-h14c3975_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/xz-5.2.5-h1de35cc_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/zlib-1.2.11-h1de35cc_3.conda
https://repo.anaconda.com/pkgs/main/osx-64/libffi-3.3-hb1e8313_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libgfortran5-9.3.0-h7cc5361_13.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/ncurses-6.2-h0a44026_1.conda
https://conda.anaconda.org/conda-forge/osx-64/openssl-1.1.1h-haf1e3a3_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/tk-8.6.10-hb0a8c7a_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/libedit-3.1.20191231-h1de35cc_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libgfortran-5.0.0-h7cc5361_13.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/readline-8.0-h1de35cc_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libopenblas-0.3.12-openmp_h54245bb_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/sqlite-3.33.0-hffcf06c_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libblas-3.9.0-3_openblas.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/python-3.9.0-h88f2d9e_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libcblas-3.9.0-3_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/liblapack-3.9.0-3_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/python_abi-3.9-1_cp39.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/threadpoolctl-2.1.0-pyh5ca1d4c_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/wheel-0.35.1-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/osx-64/certifi-2020.11.8-py39h6e9494a_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/numpy-1.19.4-py39hd3e5478_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/scipy-1.5.3-py39h3164f57_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/setuptools-50.3.1-py39hecd8cb5_1.conda
https://conda.anaconda.org/conda-forge/noarch/joblib-0.17.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pip-20.2.4-py39hecd8cb5_0.conda
https://conda.anaconda.org/conda-forge/osx-64/scikit-learn-0.23.2-py39hcaaab68_3.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/imbalanced-learn-0.7.0-py_1.tar.bz2
